body{
    margin: 0px;
    padding: 0px;
}
.landing-page{
    background-color: rgb(32,32,32);
    width: 100%;
    height: 50px;
    float: left;
    position: relative;
}
.sign-in>ul>li{
    float: left;
    list-style: none;
    list-style: 40px;
    height: 50px;
}
.sign-in>ul>li>a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-variant: small-caps;
    margin-left: 10px;
}
.fa-sign-in-alt{
    font-size: 20px;
}
ul.sign-in-and-registor>li>a:hover{
    color: red;
    
}
.logo{
    margin: auto;
    float: left;
    width: 60%;
    height: 50px;
    position: relative;

}
#logo-main{
    height: 51px;
    position: absolute;
    top: -16.4px;
    left: 50%;
}
.marvel-unlimited{
    color: white;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
}
.fa-search{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    padding: 0px 10px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.ulimited>a:hover{
    color: red;
}
.main-menu{
    clear: both;
}
ul.h-menu{
    display: block;
    position: relative;
}
ul.h-menu>li{
    list-style: none;
    float: left;
    width: 80px;
    margin-left: 150px;
    margin-top: -10px;
    margin-bottom: 10px;
}
ul.h-menu>li>a{
    text-decoration: none;
    color: black;
    font-size: 19.5px;
    font-variant: small-caps;
}
ul.h-menu>li:hover>.sub-menu{
    display: block;
}
.sub-menu{
    padding: 10px;
    display: none;
    position: absolute;
    box-shadow: 0 0 2px black;
    border-radius: 10px;
    margin-top: 2px;
    background-color: rgb(253, 252, 252);
}
.sub-menu>li{
    display: block;
    list-style: none;
    width: 300px;
}
.sub-menu>li>a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    color: black;
}
.sub-menu>li>a:hover{
    color: red;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transition: 0.1s ;
}
.banner{
    clear: both;
    position: relative;
}
#banner-img{
    height: 550px;
    width: 100%;
    margin-bottom: -5px;
}
.note-banner{
    position: absolute;
    top: 120px;
    left: 40px;
}
.note-banner>h3{
    font-size: 45px;
    color: white;
}
.note-banner>p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}
.note-banner>input{
    width: 200px;
    height: 60px;
    color: white;
    font-variant: small-caps;
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
    margin-right: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 35px;
}
.note-banner>input:hover{
    outline: 3px solid rgb(71, 82, 50);
    font-size: 19px;
    transition: 0.2s;
}
/* Contact footer */
footer{
    margin-top: 10px;
    background: rgb(21,21,21);
}
.contact-footer{
  clear: both;
}
ul.contact-footer>li{
    list-style: none;
    margin-top: 15px;
    float: left;
}
#footer-logo{
    width: 83px;
    height: 116px;
    margin-left: 100px;
}
ul.sub-contact>li{
    margin-bottom: 15px;
}
ul.sub-contact>li>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
ul.sub-contact>li>a:hover{
    color: rgb(153,153,153);
    transition: 0.2s;
}
ul.sub-contact{
    margin-left: 55px;
}
ul.sub-contact>li>p{
    color: rgb(153,153,153);
    margin-top: 2px;
}
ul.sub-contact>li>a>i{
    font-size: 18.5px;
    margin-right: 25px;
}
.final-nav{
    clear: both;
    height: 30px;
    background-color: rgb(46, 43, 46);
}
.final-nav>ul>li{
    float: left;
    list-style: none;
}
.final-nav>ul>li>a{
    font-size: 14px;
    line-height: 30px;
    color: rgb(190, 189, 189);
    text-decoration: none;
    margin-left: 83px;
}
.final-nav>ul>li>a:hover{
    color: white;
}

